<!DOCTYPE html>
<html>
    <title>My second HTML</title>
<body bgcolor="pink">
    <h1 style="color:darkmagenta">
        How to Create a Simple Form for a Web page
    </h1>
    Name:
    <input type="text" name="name">
    <br>
    Email:
    <input type="text" name="email"><br>
    <input type="radio" name="sex" value="Female">Female<br>
    <input type="radio" name="sex" value="male">Male<br>
    Marital Status<br>
    <select name="status">
        <option value ='s'>Single</option>
        <option value ='m'>Married</option>
        <option value ='d'>Divorced</option>   
    </select><br>
    <input type="submit" value="Submit">
</body>
</html>